<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IFRI ON LINE -- Emploi du temps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="igm">
    <!-- Student  -->
    <!-- End Student -->

    <!-- Teacher  -->
    <!-- End Teacher -->

    <!-- Admin  -->
    <form>
      <h2>Publier un emploi du temps</h2>

      <ion-item>
        <ion-label>Semaine du :</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" name="periode" [(ngModel)]="periode"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Groupe destinataire</ion-label>
        <ion-select name="destinataire" [(ngModel)]="destinataire">
          <ion-select-option value="1">Tout le monde</ion-select-option>
          <ion-select-option value="2">Etudiants</ion-select-option>
          <ion-select-option value="3">Enseignants</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Spécialités concernées</ion-label>
        <ion-select multiple="true" name="specialites" [(ngModel)]="specialites">
          <ion-select-option value="GL">Génie logiciel</ion-select-option>
          <ion-select-option value="SI">Sécuritté informatique</ion-select-option>
          <ion-select-option value="IM">Internet et Multimedia</ion-select-option>
          <ion-select-option value="SIRI">Systèmes d'Information et Réseaux Informatiques</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Niveaux d'études concernés</ion-label>
        <ion-select multiple="true" name="niveauEtudes" [(ngModel)]="niveauEtudes">
          <ion-select-option value="1">Licence 1</ion-select-option>
          <ion-select-option value="2">Licence 2</ion-select-option>
          <ion-select-option value="3">Licence 3</ion-select-option>
          <ion-select-option value="4">Master 1</ion-select-option>
          <ion-select-option value="5">Master 2</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fichier à uploader</ion-label>
        <input style="display: none" type="file" id="empInput" (change)="onFileSelected($event.target.files[0])">
        <ion-button (click)="pickFile()" color="danger">
          <ion-icon name="navigate"></ion-icon> Parcourir
        </ion-button>
      </ion-item>
      <span>{{ selectedFile }}</span> <br><br>

      <ion-button expand="block" (click)="onSubmit()">
        <ion-icon name="checkmark"></ion-icon> Publier
      </ion-button>
    </form>
    <!-- End Admin -->
  </div>
</ion-content>