.igm {
    background-image: url('../../assets/futur.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  form {
    margin: 3%;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    padding: 2%;
  
    h2 {
        margin-top: 2%;
        color: maroon;
        text-align: center;
    }
    span {
      margin: 20px;
      padding-bottom: 10px;
    }
  }
